# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\payad\asd\Stocking-Gudang-WEB-PT-Dira-Utama-Jaya\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
